<% if params[:cat_id] %>
  <h1>All <%= @category.name.capitalize %></h1>
<% else %>
  <h1>Everything Funtastic!</h1>
<% end %>

<div class="row">
  <% @products.order('name').each do |product| %>
    <div class="col-xs-2 col-md-3">
      <div class="panel">
        <div class="panel-body">

          <a href="#" data-toggle="modal" data-target="#product-<%= product.id %>-modal" >
          <%= image_tag product.avatar.url(:medium), class: 'img-responsive center-block' %>
          <p>
            <h5 class="text-center"><%= product.name %></h5>
            <strong>Price: </strong><%= number_to_currency product.current_price %>
          </p>
          <p class="text-center">Quick Info</p>
          </a>
          <div class="text-right">
            <%= button_to 'Add to Cart', line_items_path(product_id: product), class: 'btn btn-primary btn-xs' %>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="product-<%= product.id %>-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="text-center"><%= product.name %></h3>
        </div>
        <div class="modal-body">
          <%= image_tag product.avatar.url(:medium), class: 'img-responsive center-block' %>
          <p>
            <br>
            <%= product.description %>
          </p>
          <p class="text-center">
            <%= number_to_currency product.current_price %>
          </p>
          <%= button_to 'Add to Cart', line_items_path(product_id: product), class: 'btn btn-primary btn-xs' %>
        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>