<h1 class="text-center">
  Listing Categories
  <br>
  <button class="btn btn-xs btn-info">
    <%= link_to 'New Category', new_category_path %>
  </button>
</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to fa_icon('eye', text: 'Show'), category %></td>
        <td><%= link_to fa_icon('pencil', text: 'Edit'), edit_category_path(category) %></td>
        <td><%= link_to fa_icon('trash-o', text: 'Delete'), category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
